@using System.Linq
@page "/cart"
@inject CartService CartService
@inject OrderService OrderService
@inject IJSRuntime JS

<h2 class="esh-body-title">Shopping Cart</h2>

@if (!CartService.Items.Any())
{
    <p>Your cart is empty.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartItem in CartService.Items)
            {
                <tr>
                    <td>@cartItem.Item.Name</td>
                    <td>@cartItem.Quantity</td>
                    <td>@cartItem.Item.Price.ToString("C")</td>
                </tr>
            }
            <tr>
                <td class="text-right" colspan="2"><strong>Total</strong></td>
                <td><strong>@CartService.TotalPrice.ToString("C")</strong></td>
            </tr>
        </tbody>
    </table>
    <button class="btn esh-button esh-button-primary" @onclick="Checkout">Checkout</button>
}

@code {
    async Task Checkout()
    {
        OrderService.AddOrder(CartService.Items);
        await JS.InvokeVoidAsync("alert", "Order placed");
        CartService.Clear();
    }
}
